<!DOCTYPE html>
<html>
  <head>
    <title>ReactRecaptchaDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "navbar-brand" %>
      </div>
    </nav>
    <div class="container mt-4">
      <% if flash.present? %>
        <div class='row my-2'>
          <div class='col'>
            <% flash.each do |type, value| %>
              <div class="alert alert-<%= type == 'alert' ? 'warning' : 'info' %>">
                <%= value %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
